<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='lb.edu.aub.cmps.grad.mappers.BuildingMapper'>
	<resultMap type='lb.edu.aub.cmps.grad.classes.Building' id='BuildingResult'>
		<id property='id' column='Building_ID'></id>
		<result property='name' column='Building_Name'></result>
		<result property='location_id' column='Sector_ID'></result>	
	</resultMap>
	
	
	<select id='getAllBuildings' resultMap='BuildingResult'>
			SELECT Building_ID, Building_Name, Sector_ID from building 
	</select>
</mapper>