<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>


<mapper namespace='lb.edu.aub.cmps.grad.mappers.ClassMapper'>
	<resultMap type='lb.edu.aub.cmps.grad.classes.Class' id='ClassResult'>
		<id property='class_id' column='Lecture_ID'></id>
		<result property='course_id' column='Course_ID'></result>
		<result property='class_capacity' column='Class_Capacity'></result>
		<result property='type' column='Lecture_Type'></result>
		<result property='canChangeTime' column='Time_Fixed'></result>
		<result property='canChangeRoom' column='Classroom_Fixed'></result>
	</resultMap>


	<select id='getAllClasses' resultMap='ClassResult'>
		SELECT c.LECTURE_ID,
		c.Course_ID, c.Class_Capacity, t.Lecture_Type, c.Classroom_Fixed, c.Time_Fixed from lecture c join
		type_enum t where c.Type_id = t.Type_id
	</select>

	<!-- write a method to get sections after creating a class section -->

	<resultMap type='lb.edu.aub.cmps.grad.classes.TimeSlot' id='ClassTimeResult'>
		<!-- id property='class_id' column='Class_ID'></id -->
		<id property='day_id' column='Day_ID'></id>
		<result property='start' column='Start'></result>
		<result property='end' column='End'></result>
	</resultMap>

	<select id='getClassTimes' parameterType="int" resultMap='ClassTimeResult'>
		SELECT
		Day_ID, Start, End from lecture_time where Lecture_ID= #{id}
	</select>

	<resultMap type='lb.edu.aub.cmps.grad.classes.Professor' id='ProfessorsResult'>
		<id property='id' column='Professor_ID'></id>
		<result property='name' column='Professor_Name'></result>
	</resultMap>


	<select id='getProfessor' parameterType="int" resultMap='ProfessorsResult'>
		SELECT
		p.Professor_ID, p.Professor_name from lecture_professor c join
		professor
		p where c.Lecture_ID= #{id} and c.Professor_ID=
		p.Professor_ID
	</select>

	<resultMap type='Integer' id='AccessoriesResult'>
		<id property='id' column='Accessory_ID'></id>
	</resultMap>

	<resultMap type='Integer' id='sectionResult'>
		<id property='id' column='Section_Number'></id>
	</resultMap>


	<select id='getAccessoriesInClass' parameterType="int"
		resultMap='AccessoriesResult'>
		SELECT a.Accessory_ID from lecture_accessory
		c join
		accessory_enum a where c.Lecture_ID= #{id} and c.Accessory_ID=
		a.Accessory_ID
	</select>

	<select id='getSectionsInClass' parameterType="int" resultMap='sectionResult'>

		SELECT s.Section_Number from section_lecture l 
		join section s where s.Section_ID = l.Section_ID and LECTURE_ID = #{id}
	</select>

	<resultMap type='lb.edu.aub.cmps.grad.classes.Room' id='RoomResult'>
		<id property='id' column='Classroom_ID'></id>
		<result property='number' column='Classroom_Number'></result>
		<result property='room_capacity' column='Classroom_Capacity'></result>
		<result property='building_id' column='Building_ID'></result>
	</resultMap>

	<select id='getClassroom' parameterType="int" resultMap='RoomResult'>
		SELECT
		r.Classroom_ID, r.Classroom_Number, r.Classroom_Capacity,
		r.Building_ID from
		classroom r join lecture c where c.Lecture_ID= #{id}
		and
		r.Classroom_ID= c.Classroom_ID
	</select>

	<update id="updateLecture_Classroom" parameterType="lb.edu.aub.cmps.grad.classes.Class">
		UPDATE
		lecture
		SET Classroom_ID= #{givenRoomId}
		where Lecture_ID= #{class_id}
	</update>
	
	<update id="updateLecture_Time" parameterType="lb.edu.aub.cmps.grad.classes.Class">
		UPDATE
		lecture_time
		SET Day_ID= #{givenDay},
		Start= #{givenStart},
		End= #{givenEnd}
		where LECTURE_ID= #{class_id}
        AND Day_Id=#{req_day}
	</update>
</mapper>