<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='lb.edu.aub.cmps.grad.mappers.ProfessorMapper'>
	<resultMap type='lb.edu.aub.cmps.grad.classes.Professor' id='ProfessorResult'>
		<id property='id' column='Professor_ID'></id>
		<result property='name' column='Professor_Name'></result>
	</resultMap>


	<select id='getAllProfessors' resultMap='ProfessorResult'>
		SELECT Professor_ID,
		Professor_Name from professor
	</select>

	<select id='getProfessorsByClass' parameterType="int"
		resultMap='ProfessorResult'>
		SELECT p.Professor_ID,
		p.Professor_Name from professor p join
		lecture_professor l where l.lecture_id= #{id} and p.professor_id=
		l.professor_id
	</select>

	<resultMap type='lb.edu.aub.cmps.grad.classes.Class' id='classesResult'>
		<id property='class_id' column='Lecture_ID'></id>
		<result property='course_id' column='Course_ID'></result>
		<result property='class_capacity' column='Class_Capacity'></result>
		<result property='type' column='Lecture_Type'></result>
	</resultMap>


	<select id='getClassesGiven' parameterType="int" resultMap='classesResult'>
		SELECT c.Lecture_ID, c.Course_ID, c.Class_Capacity, t.Lecture_Type
		from
		lecture c join lecture_professor p join
		type_enum t where c.Type_id
		=
		t.Type_id and p.Professor_ID = #{id}
	</select>
</mapper>
