<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='lb.edu.aub.cmps.mappers.AccessoryMapper'>
	<resultMap type='Integer' id='AccessoryResult'>
		<id property='id' column='Accessory_ID'></id>
	</resultMap>
	
	
	<select id='getAllAccessories' resultMap='AccessoryResult'>
			SELECT Accessory_ID from accessory_enum 
	</select>
</mapper>