<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='lb.edu.aub.cmps.mappers.BuildingMapper'>

	
	
	<resultMap type="lb.edu.aub.cmps.classes.Building" id="BuildingResult">
		<id property="building_id" column="Building_ID"></id>
		<result property="name" column="Building_Name"></result>
		<result property="location_id" column="Sector_ID"></result>
		
	</resultMap>
	
	
	<select id="getAllBuildings"  resultMap="BuildingResult">
			SELECT * from building 
	</select>
</mapper>