<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>


<mapper namespace='lb.edu.aub.cmps.mappers.ClassMapper'>
	<resultMap type='lb.edu.aub.cmps.classes.Class' id='ClassResult'>
		<id property='class_id' column='Class_ID'></id>
		<result property='course_id' column='Course_ID'></result>
		<result property='class_capacity' column='Class_Capacity'></result>	
	</resultMap>
	
	
	<select id='getAllClasses' resultMap='ClassResult'>
			SELECT Class_ID, Course_ID, Class_Capacity from class 
	</select>
	
	<!-- write a method to get sections after creating a class section -->

	<resultMap type='lb.edu.aub.cmps.classes.TimeSlot' id='ClassTimeResult'>
		<!-- id property='class_id' column='Class_ID'></id-->
		<id property='day_id' column='Day_ID'></id>
		<result property='start' column='Start'></result>
		<result property='end' column='End'></result>
	</resultMap>


	<select id='getClassTimes' parameterType="int" resultMap='ClassTimeResult'>
		SELECT Day_ID, Start, End from class_time where Class_ID= #{id}
	</select>
	
	<resultMap type='lb.edu.aub.cmps.classes.Professor' id='ProfessorsResult'>
		<id property='id' column='Professor_ID'></id>
		<result property='name' column='Professor_Name'></result>
	</resultMap>


	<select id='getProfessor' parameterType="int" resultMap='ProfessorsResult'>
		SELECT c.Professor_ID, p.Professor_name from class_professor c join professor p where c.Class_ID= #{id}
	</select>
</mapper>