<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='lb.edu.aub.cmps.mappers.CourseMapper'>
	<resultMap type='lb.edu.aub.cmps.classes.Course' id='CourseResult'>
		<id property='course_id' column='Course_ID'></id>
		<result property='department_id' column='Department_ID'></result>
		<result property='course_name' column='Course_Name'></result>
		<result property='category_id' column='Level_ID'></result>
	</resultMap>


	<select id='getAllCourses' resultMap='CourseResult'>
		SELECT * from course
	</select>
	
	<resultMap type='lb.edu.aub.cmps.classes.Class' id='ClassResult'>
		<id property='class_id' column='Lecture_ID'></id>
		<result property='course_id' column='Course_ID'></result>
		<result property='class_capacity' column='Class_Capacity'></result>
		<result property='type' column='Lecture_Type'></result>
	</resultMap>


	<select id='getAllClasses' parameterType='int' resultMap='ClassResult'>
		SELECT c.Class_ID,
		c.Course_ID, c.Class_Capacity, t.Lecture_Type from lecture c join
		type_enum t where c.Type_id = t.Type_id and c.Lecture_ID= #{id}
	</select>
	
	<select id='getSectionsInCourse' parameterType="int" resultMap='sectionResult'>
	
		SELECT Section_ID from section where Course_ID = #{id}
	</select>
	<resultMap type='Integer' id='sectionResult'>
		<id property='id' column ='Section_ID'></id>
	</resultMap>
</mapper>
