<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='lb.edu.aub.cmps.mappers.DepartmentMapper'>
	<resultMap type='lb.edu.aub.cmps.classes.Department' id='DepartmentResult'>
		<id property='id' column='Department_ID'></id>
		<result property='name' column='Department_Name'></result>
		<result property='building_id' column='Building_ID'></result>
	</resultMap>


	<select id='getAllDepartments' resultMap='DepartmentResult'>
		SELECT * from department
	</select>
</mapper>
